.top__info
  .sent__message
    .sent__name
      = message.user.name
    .message__day
      = message.created_at.strftime("%Y年 %m月 %d日 %H:%M")
.detail__message
  - if message.body.present?
    .content
      .message{data: {message: {id: message.id}}}
        = message.body
  = image_tag message.image.url, class: 'content' if message.image.present?