.side-bar
  .header
    .side__bar__menu
      .header__name
        ユーザーネーム
      %ul.edit__buttonm 
        %li.list
          = link_to '#', class: "icon" do
            = icon('fas', 'flag')
        %li.list
          = link_to '#', class: "icon" do
            = icon('fas', 'flag')

  .groups
    .group
      .group__name
        グループ名
      .group__message
        メッセージ
