.notification {
  .notice {
    background-color: $light_blue;
    color: $white;
    text-align: center;
  }

  .alert {
    background-color: #f35500;
    color: $white;
    text-align: center;
  }
}
